@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bg1 {
  background-image: url("/image/top/top.jpg");
  background-size: cover; /* 画像を全体にフィットさせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 100%;
  height: 100vh;
}
