@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bg1 {
  background-image: url("/image/top/top.jpg");
  background-size: cover; /* 画像を全体にフィットさせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 100%;
  height: 100vh;
}

/* ワンピースに因んだカラーコード */

/* global.css */

/* 金色と黄色系 */
.bg-gold {
  background-color: #ffd700;
}

.text-gold {
  color: #ffd700;
}

.bg-bright-yellow {
  background-color: #ffea00;
}

.text-bright-yellow {
  color: #ffea00;
}

/* 青色と海の色合い */
.bg-deep-blue {
  background-color: #003366;
}

.text-deep-blue {
  color: #003366;
}

.bg-sky-blue {
  background-color: #1e90ff;
}

.text-sky-blue {
  color: #1e90ff;
}

/* 赤色 */
.bg-bright-red {
  background-color: #ff4500;
}

.text-bright-red {
  color: #ff4500;
}

.bg-deep-red {
  background-color: #8b0000;
}

.text-deep-red {
  color: #8b0000;
}

/* 白と黒 */
.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.text-black {
  color: #000000;
}

/* 追加の色 */
.bg-sand {
  background-color: #c2b280;
}

.text-sand {
  color: #c2b280;
}

.bg-wood-brown {
  background-color: #8b4513;
}

.text-wood-brown {
  color: #8b4513;
}

.bg-forest-green {
  background-color: #228b22;
}

.text-forest-green {
  color: #228b22;
}

/* global.css */
.bg-deep-blue {
  background-color: #003366;
}

.text-sky-blue {
  color: #1e90ff;
}

.text-gold {
  color: #ffd700;
}

.bg-gold {
  background-color: #ffd700;
}

.text-bright-yellow {
  color: #ffea00;
}

.bg-red-500 {
  background-color: #ff4500;
}

.bg-deep-red {
  background-color: #8b0000;
}

.bg-sand {
  background-color: #c2b280;
}

.bg-green-500 {
  background-color: #228b22;
}
